body{
    font-family: 'Press Start 2P', cursive;    background: black;
    color: green;
    font-size: 24px;
    place-items: center;
}

header {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    place-items: center;
}

#logo{
    image-rendering: pixelated;
    grid-column : 2/span 1;    
}

#bitcoin1{
    grid-column : 1/span 1;
}

#bitcoin2{
    grid-column : 3/span 1;
}

#credits {
    text-align: center;
    font-style: italic;
    padding-bottom: 35px;
    width: 66%;
    transform: translate(250px,0px);
}

p {
    text-align: center;
    font-style: italic;
    width: 66%;
    transform: translate(250px,0px);
}

#Screenshots{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#Screenshot1{
    width: 320px;
    height: 240px;
    border: 5px, solid, white;
    grid-column : 1/span 1;
}

#Screenshot2{
    width: 320px;
    height: 240px;
    border: 5px, solid, white;
    grid-column : 2/span 1;
}

#Screenshot3{
    width: 320px;
    height: 240px;
    border: 5px, solid, white;
    grid-column : 3/span 1;
}

#ControlTable{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto, auto, auto;
    border: 5px, solid, white;
    gap: 5px;
}

#LeftHeader{
    grid-column : 1;
    grid-row: 1;
    text-align: center;
}

#RightHeader{
    grid-column : 2;
    grid-row: 1;
    text-align: center;
}

#Action1{
    grid-column : 1;
    grid-row: 2;
    text-align: center;
}

#Button1{
    grid-column : 2;
    grid-row: 2;
    text-align: center;
}

#Action2{
    grid-column : 1;
    grid-row: 3;
    text-align: center;
}

#Button2{
    grid-column : 2;
    grid-row: 3;
    text-align: center;
}